<!DOCTYPE html>
<html>
<head>
<title>Diamond Prediction System</title>
<style>
body{
font-family:Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
text-align:center;
}

.card{
background:#1e293b;
padding:30px;
border-radius:15px;
width:500px;
}

a{
text-decoration:none;
}

button{
width:100%;
padding:15px;
margin-top:15px;
font-size:18px;
border:none;
border-radius:10px;
background:#38bdf8;
color:white;
cursor:pointer;
}
</style>
</head>
<body>

<div class="container">
<div class="card">

<h1>💎 Diamond Prediction System</h1>

<p>Select what you want to predict</p>

<a href="/price">
<button>💰 Predict Diamond Price</button>
</a>

<a href="/cut">
<button>💎 Predict Diamond Cut</button>
</a>

</div>
</div>

</body>
</html>